/* @import url("../common/dialog.css"); */
/* @import url("../common/settings.css"); */
/* @import url("../common/hue-slider.css"); */
@import url("https://nudeui.com/style.css") layer(buttons);
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
	font-family: Vollkorn;
	src: url("https://lea.verou.me/assets/fonts/Vollkorn/Vollkorn-VariableFont_wght.woff2") format("woff2");
	font-weight: 400 900;
	font-display: swap;
}

@font-face {
	font-family: Vollkorn;
	src: url("https://lea.verou.me/assets/fonts/Vollkorn/Vollkorn-Italic-VariableFont_wght.woff2") format("woff2");
	font-weight: 400 900;
	font-style: italic;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-neutral: oklch(50% 0.03 230);
	--color-neutral-90: color-mix(in oklch, var(--color-neutral), oklch(100% 0 none) 90%);
	--color-neutral-80: color-mix(in oklch, var(--color-neutral), oklch(100% 0 none) 80%);
	--color-neutral-70: color-mix(in oklch, var(--color-neutral), oklch(100% 0 none) 70%);

	--color-blue: oklch(60% 0.17 240);

	--page-margin-block: 0.05;
	--page-margin-inline: 0.06;

	--color-primary: var(--color-blue);
}

html {
	font: 120%/1 system-ui, sans-serif;
	display: flex;
	flex-flow: column;
}

body {
	margin: 0;

	@media screen {
		background: var(--color-neutral-90);

		@media (width >= 1400px) {
			display: grid;
			grid-template-columns: auto 1fr;
			height: 100vh;
		}
	}
}

h1 {
	margin-bottom: 1rem;
	font-size: 260%;
	font-weight: 300;

	img {
		display: inline-block;
		height: 1.5cap;
		vertical-align: -.22em;
	}
}

fieldset {
	border: 1px solid var(--color-neutral-70);
	border-radius: .3em;
	padding: 1rem;
	margin-top: 1rem;
	display: flex;
	flex-flow: column;
	gap: .5rem;
	container-name: fieldset;
	container-type: inline-size;

	&.compact {
		flex-flow: row wrap;
		align-items: baseline;
		gap: 1rem;

		> button,
		> button-group {
			flex: 1;
		}
	}

	> label {
		outline: 1px solid red;
		display: flex;
		gap: .3em;
		align-items: baseline;
	}
}

small {
	display: block;
	margin-top: .3em;
	font-size: 70%;
	color: var(--color-neutral);

	&.quick {
		color: inherit;
		display: flex;
		flex-wrap: wrap;
		gap: .6em;
		align-items: center;
	}
}

input,
select,
textarea,
button {
	font: inherit;
}

input:not([type]),
input[type=text],
input[type=number],
textarea,
select,
button {
	padding: .3em .5em;
}

#settings {
	display: flex;
	padding: .5rem 2rem;

	@media (width >= 1400px) {
		flex-flow: column;
		max-width: 50ch;
		height: 100vh;
		overflow: auto;

		h1 {
			grid-column: 1 / -1;
		}
	}

	@media (width < 1400px) {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: min-content 1fr 1fr 1fr;
		gap: 1rem;

		fieldset {
			grid-row: 1 / span 2;
		}

		h1 {
			grid-row: 1;
		}

		#print-button {
			grid-column: 1;
			grid-row: 2;
		}
	}
}

/* or not style(--page-size) */
body {
	/* Defaults (letter): */
	--page-size-width: 8.5;
	--page-size-height: 11;
	--unit: 1in;
	--pt-in-unit: 72;

	--page-width: var(--page-size-width);
	--page-height: var(--page-size-height);
	--aspect-ratio: var(--page-width) / var(--page-height);
	--page-height-pt: calc(var(--pt-in-unit) * var(--page-height));

	@container style(--page-size: A4) {
		--page-size-width: 210;
		--page-size-height: 297;
		--unit: 1mm;
		--pt-in-unit: calc(72 / 25.4);
	}

	@container style(--orientation: landscape) {
		--page-height: var(--page-size-width);
		--page-width: var(--page-size-height);
	}
}

#pages {
	--padding-block: 2rem;
	--page-height-screen: calc(100vh - var(--padding-block) * 2);
	--page-width-screen: calc(var(--page-height-screen) * var(--aspect-ratio));
	--gap: 2rem;
	--page-width-screen-small: calc((var(--page-width-screen) - var(--gap)) / 2);
	--page-height-screen-small: calc((var(--page-height-screen) - var(--gap)) / 2);

	overflow: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--page-width-screen-small), 1fr));
	grid-auto-flow: row dense;
	gap: var(--gap);
	padding: var(--padding-block);
}

.page {
	--_page-width-screen: var(--page-width-screen);
	--_page-height-screen: var(--page-height-screen);
	--pt: calc(var(--_page-height-screen) / var(--page-height-pt));
	--font-size-screen: calc(var(--size) * var(--pt));

	display: flex;
	flex-flow: column;
	justify-content: space-around;
	gap: 2%;
	overflow: clip;

	@media screen {
		width: var(--_page-width-screen);
		height: var(--_page-height-screen);
		/* aspect-ratio: var(--aspect-ratio, 8.5 / 11); */
		background: linear-gradient(white, white) no-repeat 0 / 100% 100% content-box, hsl(0 50% 98%) border-box;
		box-shadow: 0 .1rem 2rem -1.4rem black;
		padding-block: calc(var(--page-margin-block) * var(--_page-height-screen));
		padding-inline: calc(var(--page-margin-inline) * var(--_page-width-screen));
		font-size: var(--font-size-screen);

		&:first-child {
			grid-column-end: span 2;
			grid-row-end: span 2;
		}

		&:not(:first-child) {
			--_page-width-screen: var(--page-width-screen-small);
			--_page-height-screen: var(--page-height-screen-small);
		}
	}

	@media print {
		width: 100vw;
		height: 100vh;
		page-break-before: always;
		page-break-inside: avoid;
		page-break-after: always;
		font-size: calc(var(--size) * 1pt);
	}
}

.line {
	--color-baseline: oklch(from var(--color-neutral) 0% c h / 70%);
	--color-capline: oklch(from var(--color-neutral) 0% c h / 40%);
	--color-xline: color-mix(in oklch, var(--color-primary), oklch(100% none none / 0) 60%);

	--line-thickness: clamp(1px, .05em, 1pt);
	--color-background: color-mix(in oklab, var(--color-primary), oklab(100% 0 0) 100%);

	font: 400 100%/1 var(--font-family, system-ui), system-ui;
	line-height: calc(1cap + var(--line-thickness));
	padding-block: calc(0.5 * (1em - 1cap));
	background:
		repeating-linear-gradient(to right, var(--color-xline) 0 60%, transparent 0 100%) repeat-x 0 0 / 1mm var(--line-thickness),
		linear-gradient(to bottom, var(--color-capline) var(--line-thickness), white 0 calc(100% - var(--line-thickness)), var(--color-baseline) 0) no-repeat 0 0 / 100% 100%,
		var(--color-background);
	background-position-y: calc(100% - var(--line-thickness) - 1ex + var(--vertical-shift, 0em)), calc(-1 * var(--line-thickness) + var(--vertical-shift, 0em));
	background-clip: border-box;
	background-origin: content-box;
	white-space: nowrap;

	&.empty,
	&:empty {
		&::before {
			content: "A";
			color: transparent;
		}
	}

	> span {
		vertical-align: var(--vertical-shift);
	}
}

.ghost {
	color: oklch(from var(--color-neutral) l c h / calc(30% - (22% * (var(--ghost-index) + 1) / var(--ghosts))));
	font-weight: calc(300 - 200 * (var(--ghost-index) + 1) / var(--ghosts));
}

@page {
	size: var(--page-size, letter) var(--orientation,);
	margin-block: calc(100% * var(--page-margin-block));
	margin-inline: calc(100% * var(--page-margin-inline));
}

@media print {
	body > :not(.page),
	#settings {
		display: none;
	}

	body, #pages {
		display: contents;
	}
}

textarea#letters {
	display: block;
	width: 100%;
	max-width: 100%;
	min-height: 2lh;
	max-height: 6lh;
	height: auto;
	field-sizing: content;
}

.langs > button {
	--x: 1.5;
	font-size: calc(100% * var(--x));
	line-height: calc(1.2 / var(--x));
}

#print-button {
	line-height: 1.1;
	padding-block: .5em;
}

.font-family-serif {
	--font-family: Vollkorn;
	--vertical-shift: -.06em;
}

.font-family-sans {
	--font-family: system-ui;
	--vertical-shift: .02em;
}

.font-family-handwriting {
	--font-family: 'Shantell Sans', Chalkboard, Chalkboard SE, Comic Sans MS;
	--vertical-shift: .01em;
}