<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
	<title>Zoe Learns Multiplication</title>
	<link rel="icon" href="favicon.svg">
	<link rel="stylesheet" href="style.css">
	<script type="module" src="index.js"></script>
</head>
<body>
	<div class="progress" :class="{
		'good': progress >= 0.8,
		'ok': progress >= 0.3 && progress < 0.8,
		'bad': progress < 0.3,
	}" :style="{'--progress': progress}">
		<progress :value="progress * 100" max="100"></progress>
		<span class="percentage" v-text="Math.round(progress * 100) + '%'"></span>
	</div>

	<button class="show-settings" @click="show_settings = !show_settings"></button>
	<table :style="{ '--max': max }">
		<thead>
			<tr>
				<th>✕</th>
				<template v-for="n in max">
					<th v-text="n" :class="{selected: col == n}"></th>
				</template>
			</tr>
		</thead>
		<tbody>
			<tr v-for="m in max">
				<th :class="{selected: row == m}">{{ m }}</th>
				<td v-for="n in max" :class="{
					'rect': row >= m && col >= n,
					'correct': correct[m][n] === true,
					'incorrect': !typing && correct[m][n] === false,
					'typing': typing
				}">
					<label>
						<span class="label">{{ m }}&thinsp;×&thinsp;{{ n }}&thinsp;=</span>
					</label>
					<input inputmode="numeric" v-model="answers[m][n]"
					  :maxlength="ceil(log(max ** 2, 10)) + 1"
					  :pattern="m * n" :placeholder="`${m}×${n}`"
					  :key="`${m}x${n}`"
					  ref="input"
					  @focus="row = m; col = n;"
					  @blur="row = col = 0"
					  @keydown="handleKeydown"
					  >
				</td>
			</tr>
		</tbody>
	</table>
	<dialog id="settings" :open="show_settings">
		<h2>Settings
			<button class="close" @click="show_settings = false"></button>
		</h2>
		<label>
			<span class="label">Max</span>
			<i class="fa-solid fa-grid"></i>
			<input type="number" v-model="settings.max">
		</label>
		<label>
			<span class="label">Error delay</span>
			<div class="td-icon incorrect"
			  :style="{'--delay': settings.error_delay}"></div>
			 <input type="range" min="0" step="0.5" max="9" v-model="settings.error_delay"
			   @input="refresh_class($event.target.previousElementSibling, 'incorrect')">
			{{ amount(settings.error_delay, {one: 'second', none: 'No delay'}) }}
		</label>
	</dialog>
	<dialog id="success" ref="successDialog">
		<h2>
			Congratulations!
			<button class="close" @click="this.$refs.successDialog.close()"></button>
		</h2>
		<p class="large-emoji">🎉</p>
		<p>You got it! You can now multiply up to <strong>{{ max }}×{{ max }}</strong>!</p>
		<button @click="settings.max++; this.$refs.successDialog.close();" class="next-level">Next level: <strong>{{ max + 1 }}×{{ max + 1 }}</strong></button>
	</dialog>
</body>
</html>
