<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zoe Learns Multiplication</title>
	<link rel="icon" href="favicon.svg">
	<link rel="stylesheet" href="style.css">
	<script type="module" src="index.js"></script>
</head>
<body>
	<progress :value="progress * 100" max="100" :style="{'--progress': progress}" :class="{
		'good': progress >= 0.8,
		'ok': progress >= 0.3 && progress < 0.8,
		'bad': progress < 0.3
	}"></progress>
	<table :style="{ '--max': max }">
		<thead>
			<tr>
				<th>
					<button class="show-settings" @click="show_settings = true"></button>
				</th>
				<template v-for="n in max">
					<th v-text="n" :class="{selected: col == n}"></th>
				</template>
			</tr>
		</thead>
		<tbody>
			<tr v-for="m in max">
				<th :class="{selected: row == m}">{{ m }}</th>
				<td v-for="n in max" :class="{
					'rect': row >= m && col >= n,
					'correct': correct[m][n] === true,
					'incorrect': !typing && correct[m][n] === false
				}">
					<input inputmode="numeric" v-model="answers[m][n]" min="1" :pattern="m * n" :placeholder="`${m}×${n}`"
					  ref="input"
					  @focus="row = m; col = n;" @blur="row = col = 0"
					  @keydown="handleKeydown"
					  >
				</td>
			</tr>
		</tbody>
	</table>
	<dialog id="settings" :open="show_settings">
		<h2>Settings
			<button class="close" @click="show_settings = false"></button>
		</h2>
		<label>
			Max: <input type="number" v-model="settings.max">
		</label>
	</dialog>
</body>
</html>
