<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fractions worksheet</title>
	<link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">½</text></svg>'>

	<link rel="stylesheet" href="style.css">
	<script type="module" src="src/index.js"></script>
</head>
<body>
	<aside>
		<button class="print" @click="print()">Print</button>
		<fieldset id="settings">
			<legend>Exercises</legend>
			<article v-for="(exercise, i) of exercises">
				<label>Fraction: <input v-model="exercise.fraction" /></label>
				<label>Max: <input v-model="exercise.max" /></label>
				<button @click="exercises.splice(i, 0, {})">+</button>
				<button @click="exercises.splice(i, 1)">x</button>
			</article>
			<button class="add" @click="exercises.push({})">Add</button>
		</fieldset>
	</aside>
	<main class="page" :style="`--exercise-count: ${ exercises.length }`">
		<fraction-exercise v-for="(exercise, i) of exercises"
			:fraction="exercise.fraction" :max="exercise.max"
		></fraction-exercise>
	</main>
</body>
</html>
