svg {
	width: 4em;
}

circle, line {
	stroke: currentColor;
	fill: none;
	stroke-width: .03em;
}

line {
	transform-origin: bottom;
	transform-box: stroke-box;

	&.faint {
		stroke-width: .02em;
		stroke-opacity: 50%;
		stroke-dasharray: 5 2;
		stroke-dashoffset: var(--index);
	}
}
