<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zoe learns reading!</title>
	<link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">📖</text></svg>'>
	<link rel="stylesheet" href="style.css">
	<script type="module" src="index.js"></script>
</head>
<body>

<nav>
	<button @click="ui.showIndex = true">All words</button>
</nav>
<word-card :word="activeWord" v-if="activeWord" active @next_word="next_word"></word-card>

<details class="skipped-words" open>
	<summary>{{ skipped_words.length }} skipped words</summary>
	<div>
		<word-card v-for="(word, i) in skipped_words" :word="word" :key="word.word" @click="next_word(word)"></word-card>
	</div>
</details>
<details class="correct-words" open>
	<summary>{{ correct_words.length }} correct words</summary>
	<div>
		<word-card v-for="(word, i) in correct_words" :word="word" :key="word.word" @click="next_word(word)"></word-card>
	</div>
</details>

<dialog id="index" :open="ui.showIndex" @keyup.esc="ui.showIndex = false" @click="ui.showIndex = false">
	<button class="close" @click="ui.showIndex = false">❌</button>
	<h2>All {{ all_words.length }} words</h2>
	<ul>
		<li v-for="word in all_words">
			<a :href="`#${word.word}`" :class="{used: used_words.includes(word)}">{{ word.word }}</a>
		</li>
	</ul>

</dialog>

</body>
</html>