<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zoe learns reading!</title>
	<link rel="stylesheet" href="style.css">
	<script type="module" src="index.js"></script>
</head>
<body>

<word-card :word="activeWord" v-if="activeWord" active @next_word="next_word"></word-card>

<details class="skipped-words" open>
	<summary>{{ skipped_words.length }} skipped words</summary>
	<div>
		<word-card v-for="(word, i) in skipped_words" :word="word" :key="word.word" @click="next_word(word)"></word-card>
	</div>
</details>
<details class="correct-words" open>
	<summary>{{ correct_words.length }} correct words</summary>
	<div>
		<word-card v-for="(word, i) in correct_words" :word="word" :key="word.word"></word-card>
	</div>
</details>

</body>
</html>