:root {
	--color-green: oklch(60% .3 120deg);
	--color-red: oklch(60% .3 20deg);
	--color-green-light: color-mix(in oklab, var(--color-green), white 85%);
	--color-red-light: color-mix(in oklab, var(--color-red), white 85%);
}

body {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: .5em;
	grid-auto-flow: dense;
	align-content: start;
	margin: 0;
	padding: .3em;
	min-height: 100vh;
	box-sizing: border-box;
	font: 200%/1.2 system-ui, sans-serif;

	@media (width <= 480px) {
		font-size: 150%;
	}
}

details {
	box-sizing: border-box;
	overflow: auto;
	padding: .5em;

	& > div {
		display: flex;
		flex-flow: column;
		gap: .5em;
	}
}

.skipped-words {
	grid-column: 3;
	background: var(--color-red-light);
}

.correct-words {
	grid-column: 1;
	background: var(--color-green-light);
}

.word-card {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	gap: .4em;
	margin: auto;
	align-items: stretch;
	max-width: 30em;
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	border: 1px solid hsl(220 10% 80%);
	border-radius: .2em;
	background: white;
	contain: inline-size;
	container-name: word-card;
	container-type: inline-size;

	&.active {
		grid-column: 2;
		margin: auto;
		--box-shadow: 0 1em 1em -1em hsl(220 10% 50% / .3);
		box-shadow: var(--box-shadow);

		@media (width < 1800px) {
			grid-column: 1;
		}
	}

	&.correct {
		box-shadow: 0 .15em var(--color-green) inset, var(--box-shadow);
	}

	&:not(.active) {
		font-size: 30%;

		.toolbar {
			display: none;
		}
	}
}

@media (width < 1800px) and (width >= 1200px) {
	body {
		grid-template-columns: 1fr 12em;
	}

	.skipped-words {
		grid-column: 2;
	}

	.correct-words {
		grid-row: 2;
		grid-column: 1 / span 2;

		& > div {
			flex-flow: row wrap;
			align-items: stretch;

			.word-card {
				margin: 0;
			}
		}
	}
}

@media (width < 1200px) {
	body {
		grid-template-columns: 1fr;
	}

	.skipped-words,
	.correct-words {
		grid-column: 1;

		& > div {
			flex-flow: row wrap;
			align-items: stretch;

			.word-card {
				margin: 0;
			}
		}
	}
}

.toolbar {
	display: flex;
	gap: .2em;

	@media (width > 800px) {
		font-size: 150%;
	}

	& button {
		border-radius: .2em;
		background: hsl(220 10% 90%);
		padding: .1em .3em;
		border: none;
		font: inherit;
		cursor: pointer;

		&:not(:focus, :hover) {
			opacity: .8;
		}

		&:active {
			transform: scale(.95);
		}
	}

	.spacer {
		flex: 1;
	}

	.previous-word,
	.next-word {
		letter-spacing: -.3em;
	}

	.previous-word,
	.next-word {
		padding-right: .6em;
	}

	.correct,
	.next-word {
		color: white;
	}

	.correct,
	.next-word:is(.correct *) {
		background: var(--color-green);
	}

	.next-word:not(.correct *) {
		background: var(--color-red);
	}
}

h2 {
	position: relative;
	margin: 0;
	font-size: inherit;
	text-align: center;
}

.word {
	display: inline-flex;
	margin: 0;
	margin-top: .1em;
	margin-bottom: .15em;
	justify-content: center;
	text-align: center;
	font-size: 450%;
	line-height: .9;

	&:has(.syllable.active) .syllable:not(.active) {
		opacity: .2;
	}
}

.word.en {
	position: absolute;

	font-size: 150%;

	&::before {
		content: "🇬🇧 ";
	}
}

.syllable {
	display: flex;
}

.letter {
	--color: oklch(50% .3 calc(var(--index) * (360 / 24)));
	color: var(--color);
}

.photos {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	align-content: stretch;
	justify-items: stretch;
	height: 20ch; /* Fallback */

	@container word-card (width < 100vw) {
		height: min(100cqw / var(--total-aspect-ratio), 40vh);
	}

	& img {
		height: 100%;
		background: var(--color);
		flex: var(--aspect-ratio);
		object-fit: cover;
	}
}