@import url("../common/base.css");
@import url("../common/icons.css");
@import url("../common/dialog.css");
@import url("../common/settings/style.css");

:root {
	--color-vowel: var(--color-blue);
	--color-consonant: var(--color-pink);
}

body {
	display: grid;
	grid-template-columns: auto 1fr auto;
	--columns: 3;
	gap: .5em;
	grid-auto-flow: dense;
	align-content: start;
	margin: 0;
	min-height: 100vh;
	box-sizing: border-box;
	font: 200%/1.2 system-ui, sans-serif;

	@media (width <= 480px) {
		font-size: 150%;
	}
}

a {
	&:where(:not(:hover, :focus)) {
		text-decoration: none;
	}
}

button {
	border-radius: .2em;
	background: hsl(220 10% 88%);
	padding: .1em .3em;
	border: none;
	font: inherit;
	cursor: pointer;

	&:not(:focus, :hover) {
		opacity: .8;
	}

	&:active {
		transform: scale(.95);
	}
}

nav {
	display: flex;
	justify-content: space-between;
	gap: .4em;
	grid-column-end: span var(--columns);
	padding: .4em;
	background: hsl(220 10% 95%);
	font-size: 80%;
}

details {
	box-sizing: border-box;
	overflow: auto;
	padding: .5em;

	& > div {
		display: flex;
		flex-flow: column;
		gap: .5em;
	}
}

.skipped-words {
	grid-column: 3;
	background: var(--color-red-95);
}

.correct-words {
	grid-column: 1;
	background: var(--color-green-95);
}

.word-card {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	gap: .4em;
	margin: auto;
	align-items: stretch;
	max-width: 30em;
	width: 100%;
	box-sizing: border-box;
	padding: 1em;
	border: 1px solid hsl(220 10% 80%);
	border-radius: .2em;
	background: white;
	contain: inline-size;
	container-name: word-card;
	container-type: inline-size;
	-webkit-user-select: none;
	user-select: none;

	&.active {
		grid-column: 2;
		margin: auto;
		--box-shadow: 0 1em 1em -1em hsl(220 10% 50% / .3);
		box-shadow: var(--box-shadow);

		@media (width < 1800px) {
			grid-column: 1;
		}
	}

	&.correct {
		box-shadow: 0 .15em var(--color-green) inset, var(--box-shadow);
	}

	& h2 {
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-auto-flow: dense;

		.previous-segment,
		.next-segment {
			font-size: 148%;
		}

		.previous-segment {
			grid-column: 1;
		}

		.en {
			grid-column: 2;
		}

		.next-segment {
			grid-column: 3;
		}
	}

	&.no-segments {
		.previous-segment,
		.next-segment {
			visibility: hidden;
		}
	}

	&:not(.active) {
		font-size: 30%;

		> * {
			pointer-events: none;
		}

		.toolbar, .en, button {
			display: none;
		}

		& h2 {
			grid-template-columns: 1fr;
		}
	}

	.word {
		display: flex;
		margin: 0;
		margin-top: .1em;
		margin-bottom: .15em;
		justify-content: center;
		text-align: center;
		font-size: 450%;
		line-height: .9;

		&:has(.segment.active) .segment:not(.active) {
			opacity: .2;
		}
	}

	.word.en {
		font-size: 150%;

		&::before {
			content: "🇬🇧 ";
		}
	}
}

@media (width < 1800px) and (width >= 1200px) {
	body {
		grid-template-columns: 1fr 12em;
		--columns: 2;
	}

	.skipped-words {
		grid-column: 2;
	}

	.correct-words {
		grid-row: 2;
		grid-column: 1 / span 2;

		& > div {
			flex-flow: row wrap;
			align-items: stretch;

			.word-card {
				margin: 0;
			}
		}
	}
}

@media (width < 1200px) {
	body {
		grid-template-columns: 1fr;
		--columns: 1;
	}

	.skipped-words,
	.correct-words {
		grid-column: 1;

		& > div {
			flex-flow: row wrap;
			align-items: stretch;

			.word-card {
				margin: 0;
			}
		}
	}
}

.toolbar {
	display: flex;
	gap: .2em;

	@media (width > 800px) {
		font-size: 130%;
	}

	.spacer {
		flex: 1;
	}

	> button {
		padding: .2em .4em;
		font-size: 90%;
		color: light-dark(currentColor, white);
	}

	.correct,
	.next-word,
	.skip-word {
		color-scheme: dark;
	}

	.correct,
	.next-word {
		background: var(--color-green);
	}

	.skip-word {
		background: var(--color-red);
	}
}

h2 {
	position: relative;
	margin: 0;
	font-size: inherit;
	text-align: center;
}

.segment {
	display: flex;
}

.letter {
	color: var(--color-consonant);
	cursor: pointer;

	&.vowel {
		color: var(--color-vowel);
	}
}

.photos {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	align-content: stretch;
	justify-items: stretch;
	height: 20ch; /* Fallback */
	--total-aspect-ratio: calc(var(--aspect-ratio-1) + var(--aspect-ratio-2) + var(--aspect-ratio-3) + var(--aspect-ratio-4));

	@container word-card (width < 800px) {
		--aspect-ratio-4: 0 !important;

		& img:nth-child(4) {
			display: none;
		}

		@container word-card (width < 600px) {
			--aspect-ratio-3: 0 !important;

			& img:nth-child(3) {
				display: none;
			}
		}
	}

	@container word-card (width < 100vw) {
		height: min(100cqw / var(--total-aspect-ratio), 40vh);
	}

	& img {
		height: 100%;
		background: var(--color);
		flex: var(--aspect-ratio);
		object-fit: cover;
	}
}

dialog[id=index] {
	& ul {
		columns: 4 7ch;

		& li {
			--icon: var(--icon-circle-question);

			&::marker {
				content: var(--icon) "  ";
				color: var(--color, var(--color-neutral-70));
				font: var(--fa-font-solid);
				font-size: 60%;
			}

			.word {
				font-weight: 600;
				text-decoration: none;

				&:not(:hover, :focus) {
					filter: grayscale(.75);
				}
			}

			&.correct {
				--color: var(--color-green);
				--icon: var(--icon-circle-check);
			}

			&.skipped {
				--color: var(--color-red);
				--icon: var(--icon-forward-fast);
			}
		}
	}


}
