:root {
	--color-red: oklch(55% .25 20);
	--color-yellow: oklch(80% 0.185 90);
	--color-green: oklch(70% 0.2 130);
	--color-cyan: oklch(70% .5 180);
	--color-blue: oklch(60% .18 240);
	--color-purple: oklch(55% .25 300);

	--color-neutral-50: oklch(50% .01 250);
	--color-neutral-60: oklch(60% .01 250);
	--color-neutral-70: oklch(70% .01 250);
	--color-neutral-80: oklch(80% .01 250);
	--color-neutral-90: oklch(90% .01 250);
	--color-neutral-90a: oklch(50% .01 250 / .1);
	--color-neutral-95: oklch(95% .01 250);
}

button {
	cursor: pointer;
}

input, button, select, textarea {
	font: inherit;
	color: inherit;
}

input[type=checkbox],
input[type=radio] {
	width: .75em;
	height: .75em;
}

fieldset {
	border: 1px solid var(--color-neutral-80);
	border-radius: .3em;

	@media print {
		display: none;
	}
}

input[type=number]::-webkit-inner-spin-button {
	filter: contrast(2) opacity(.6);
	mix-blend-mode: multiply;
}
