@import url("base.css");
@import url("icons.css");

dialog[open] {
	display: flex;
}

dialog {
	/* Center the dialog */
	top: 50%;
	transform: translateY(-50%);
	margin: 1em auto;

	/* Layout */
	flex-flow: column;
	gap: 1em;
	--padding-block: 1em;
	--padding-inline: 1em;
	padding-block: var(--padding-block, 0);
	padding-inline: var(--padding-inline, 0);
	min-width: 25vw;

	/* Style */
	border: none;
	box-shadow: 0 .5rem 1rem hsla(0 0% 0% / 20%);
	border-radius: .3rem;

	.close {
		position: absolute;
		z-index: 1;
		top: .5em;
		right: .5em;
		min-width: 1.4em;
		padding: .2em .3em;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		border-radius: .1em;
		background: hsl(220 10% 50% / .2);

		&:empty::before {
			content: var(--icon-xmark);
			font: var(--fa-font-solid);
			font-size: 100%;
		}

		&:hover {
			background: var(--color-red);
			color: white;
		}
	}

	& > :is(h2, header, :where(.full-width), footer) {
		margin-inline: calc(-1 * var(--padding-inline));
		padding-inline: var(--padding-inline);

		&:where(:first-child) {
			margin-block-start: calc(-1 * var(--padding-block));
			padding-block-start: calc(1 * var(--padding-block));
		}

		&:where(:last-child) {
			margin-block-end: calc(-1 * var(--padding-block));
			padding-block-end: calc(1 * var(--padding-block));
		}
	}

	& > h2 {
		display: flex;
		align-items: center;
		text-align: left;
		padding: .3em .5em .35em;
		background: hsl(220 10% 50% / .1);
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
		font-size: 100%;

		.close {
			position: static;
			margin-left: auto;
		}
	}
}
