@import url("../base.css");
@import url("../icons.css");
@import url("../dialog.css");

.show-settings {
	padding: .3em;
	border: 1px solid var(--color-neutral-70);
	border-radius: .2em;
	color: var(--color-neutral-70);
	background: transparent;
	font-size: 1.3rem;

	&:empty::before {
		content: var(--icon-gear);
		display: block;
		font: var(--fa-font-solid);
	}

	&:hover {
		color: var(--color-neutral-60);
		border-color: var(--color-neutral-60);
		background: var(--color-neutral-90a);
	}

	@media print {
		display: none;
	}
}

dialog:where([id=settings], .settings) {
	width: 80vw;
	max-width: 35rem;

	> label {
		display: flex;
		gap: .3em;
		align-items: center;
		flex-wrap: wrap;
	}

	> label:has(.label) {
		.label {
			width: 100%;
			font-size: 60%;
			font-weight: 600;
			color: var(--color-neutral-60);
			text-transform: uppercase;
		}
	}

	i {
		color: var(--color-neutral);
	}
}
