<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zoe learns fractions</title>
	<link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">½</text></svg>'>
	<link rel="stylesheet" href="style.css">
	<script type="module" src="index.js"></script>

	<meta property="og:image" content="https://zoelearns.com/fractions/fractions.gif" />
	<meta name="twitter:image" content="https://zoelearns.com/fractions/fractions.gif" />
	<meta name="twitter:card" content="summary_large_image">
</head>
<body>
	<div id="app" v-cloak :style="app_styles">
		<button class="show-settings" @click="show_settings = true"></button>
		<div class="fraction-container container">
			<div class="fraction">
				<input type="number" v-model="numerator" class="numerator" id="numerator" min="0" step="1">
				<input type="number" v-model="denominator" class="denominator" id="denominator" min="1" step="1">
			</div>
		</div>
		<div class="pie-container container">
			<output class="pie" v-if="numerator % denominator !== 0 || full_pies === 0" :style="`--numerator: ${ numerator > denominator ? numerator % denominator : numerator };`"></output>
			<template v-if="full_pies > 0">
				<output class="pie" v-for="i in full_pies"></output>
			</template>
		</div>
		<dialog id="settings" :open="show_settings">
			<h2>Settings
				<button class="close" @click="show_settings = false"></button>
			</h2>
			<label class="side">
				<div class="pie-icon with-background" style="--color-background: var(--color-background-gray)" title="Pie color"></div>
				<input type="range" min="0" step="1" max="360" v-model="settings.pie_hue" class="hue-slider" style="--color: var(--color-on)">
			</label>
			<label class="side">
				<div class="pie-icon with-background" style="--color-on: var(--color-on-gray); --color-off: var(--color-off-gray);" title="Pie background"></div>
				<input type="range" min="0" step="1" max="360" v-model="settings.pie_background_hue" class="hue-slider" style="--color: var(--color-background)">
			</label>
		</dialog>
	</div>
</body>
</html>