@import url("../common/hue-slider.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--pi: 3.1415926535;
}

html {
	font: 150%/1 system-ui, sans-serif;
}

body {
	height: 100vh;
}

#app {
	--color-on: oklch(.55 .2 var(--pie-hue));
	--color-off: oklch(.8 .1 var(--pie-hue));
	--pies-min: min(var(--pies-x), var(--pies-y));
	--pies-max: max(var(--pies-x), var(--pies-y));

	display: grid;
	--pie-fr: 1.5;
	grid-template-columns: 1fr 1.5fr; /* calc(1fr * var(--pie-fr)) won't work due to browser bug */
	--space-x-pie: calc(100vw * var(--pie-fr) / (1 + var(--pie-fr)));
	--space-x-fraction: calc(100vw - var(--space-x-pie));

	grid-template-rows: 1fr;
}

.show-settings {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.container {
	--container-padding-inline: 3rem;

	display: flex;
	flex: 1;
	contain: inline-size;
	padding: var(--container-padding-inline);
}

.fraction-container {
	flex-flow: column;
	justify-content: center;
	align-items: center;
	--max-fraction-font-size: 15rem;
	font-size: calc( clamp(2rem, 40vh - 1rem - 2em, var(--max-fraction-font-size)) / max(var(--numerator-digits, 1), var(--denominator-digits, 1)) );
}

@property --diameter {
	syntax: '<length>';
	initial-value: 0em;
	inherits: true;
}

.pie-container {
	position: relative;
	--space-x: calc(var(--space-x-pie) - 2 * var(--container-padding-inline));
	--space-y: calc(100vh - 2 * var(--container-padding-inline));
	--space-min: min(var(--space-x), var(--space-y));

	display: grid;
	grid-template-columns: repeat(var(--pies-x), auto);
	justify-content: start;
	justify-items: start;
	align-items: start;
	align-items: center;
	flex-wrap: wrap;
	gap: calc(var(--container-padding-inline) / 2);
	background: gold no-repeat linear-gradient(red, red) top center / calc(100cqw - 2px) 1em;
	height: 100vh;
	overflow: auto;
	container-name: pie-container;
	container-type: inline-size;
}

.pie {
	--_numerator: var(--numerator, 1);
	--_denominator: var(--denominator, 1);

	@supports (width: 1cqw) {
		--space-x: 100cqw;
		--space-y: 100cqh;
		--space-min: min(var(--space-x), var(--space-y));
	}

	--fraction: calc(var(--_numerator) / var(--_denominator));
	--increment: calc(100% / var(--_denominator));
	--max-diameter: 30rem;
	--diameter: clamp(1rem, min(var(--space-x) / var(--pies-x), var(--space-y) / var(--pies-y)), var(--max-diameter));
	--circumference: calc(var(--pi) * var(--diameter));
	--stroke-width-arc: clamp(0, .007, 1 / var(--_denominator) / 3);
	--stroke-width: calc(var(--circumference) * var(--stroke-width-arc) * .85);

	width: var(--diameter);
	aspect-ratio: 1;
	background:
		repeating-conic-gradient(black 0 calc(var(--stroke-width-arc) * 50%), transparent 0 calc(var(--increment) - var(--stroke-width-arc) * 50%), black 0 var(--increment)),
		conic-gradient(var(--color-on) calc(var(--fraction) * 100%), transparent 0)
		var(--color-off);
	border-radius: 50%;
	border: var(--stroke-width) solid black;
}

.fraction {
	display: flex;
	flex-flow: column;
	align-items: center;

	& input {
		min-width: 1ch;
		width: auto;
		max-width: calc(var(--space-x-fraction) - 2 * var(--container-padding-inline) - .4em);
		padding-inline: .2em;
		form-sizing: normal; /* older version */
		field-sizing: content;
		box-sizing: content-box;
		text-align: center;
		border: 0;
		font: inherit;

		&:hover {
			background: hsl(220 10% 96%);
		}

		&:focus {
			outline: none;
			background: oklch(.97 .03 var(--pie-hue));
		}
	}
}

#numerator {
	padding-bottom: .05em;
	border-bottom: .05em solid black;
	color: var(--color-on);
}

@media (aspect-ratio < 1) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}

	#app {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;

		--pies-min: min(var(--pies-x), var(--pies-y));
		--pies-max: max(var(--pies-x), var(--pies-y));
	}

	.container {
		flex-flow: row;
		flex: none;
		padding-block: var(--container-padding-inline);
	}

	.pie-container {
		--space-x: 100vw - 2 * var(--container-padding-inline);
		--space-y: 50vh - 2 * var(--container-padding-inline);
		flex: 1;
		height: 50vh;
	}

	.fraction-container {
		--max-fraction-font-size: 25vh - var(--container-padding-inline) - 2rem;
	}

	.fraction {
		input {
			max-width: 98vw;
		}
	}
}

dialog {
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
	padding: 1em;
	min-width: 25vw;
}
