* {
	margin: 0;
	padding: 0;
}

:root {
	--π: 3.1415926535;
	--color-on: oklch(.55 .2 340);
	--color-off: oklch(.8 .1 340);
}

html {
	font: 150%/1 system-ui, sans-serif;
}

body {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: auto;
	min-height: 100vh;
}

.container {
	--container-padding-inline: 3rem;

	display: flex;
	flex-flow: column;
	justify-content: center;
	flex: 1;
	padding-inline: var(--container-padding-inline);

	&.fraction-container {
		align-items: end;
	}

	&.pie-container {
		align-items: start;
		background: gold;
	}
}

.pie {
	--fraction: calc(var(--numerator) / var(--denominator));
	--increment: calc(100% / var(--denominator));
	--max-diameter: min(30rem, 48vw - var(--container-padding-inline));
	--diameter: clamp(0rem, 80vmin, var(--max-diameter));
	--circumference: calc(var(--π) * var(--diameter));
	--stroke-width-arc: clamp(0, .007, 1 / var(--denominator) / 3);
	--stroke-width: calc(var(--circumference) * var(--stroke-width-arc));

	width: var(--diameter);
	aspect-ratio: 1;
	box-sizing: border-box;
	background:
		repeating-conic-gradient(black 0 calc(var(--stroke-width-arc) * 50%), transparent 0 calc(var(--increment) - var(--stroke-width-arc) * 50%), black 0 var(--increment)),
		conic-gradient(var(--color-on) calc(var(--fraction) * 100%), transparent 0)
		var(--color-off);
	border-radius: 50%;
	border: var(--stroke-width) solid black;
}

.fraction {
	--max-fraction-font-size: 15rem;

	display: flex;
	flex-flow: column;
	align-items: center;
	font-size: clamp(2rem, 40vh - 1rem - 2em, var(--max-fraction-font-size));
}

input {
	min-width: 1em;
	width: auto;
	max-width: 48vw;
	form-sizing: normal; /* older version */
	field-sizing: content;
	text-align: center;
	border: 0;
	padding-inline: .3em;
	font: inherit;

	&:hover {
		background: hsl(220 10% 96%);
	}
}

#numerator {
	padding-bottom: .05em;
	border-bottom: .05em solid;
}

@media (aspect-ratio < .65) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}

	.container {
		flex-flow: row;
		flex: none;
		padding-block: var(--container-padding-inline);

		&.pie-container {
			flex: 1;
		}
	}

	.fraction {
		--max-fraction-font-size: 25vh - var(--container-padding-inline) - 2rem;
	}

	.pie {
		--max-diameter: min(30rem, 90vmin - 2 * var(--container-padding-inline));
	}

	input {
		max-width: 98vw;
	}
}